extends layout

append content
  main(class="mainContainer")
    h1 Dane podstawowe
    h2 Dane osobowe

    article
      div(class="daneWiersz")
        span(class="tytul") Imię (imiona) nazwisko:
        span(class="wartosc")= data.name
      div(class="daneWiersz")
        span(class="tytul") Data i miejsce urodzenia:
        span(class="wartosc")= data.dateAndBirthPlace
      div(class="daneWiersz")
        span(class="tytul") PESEL:
        span(class="wartosc")= data.pesel
      div(class="daneWiersz")
        span(class="tytul") Płeć:
        span(class="wartosc")= data.gender
      div(class="daneWiersz")
        span(class="tytul") Obywatelstwo polskie:
        span(class="wartosc")= data.polishCitizenship
      div(class="daneWiersz")
        span(class="tytul") Nazwisko rodowe:
        span(class="wartosc")= data.familyName
      div(class="daneWiersz")
        span(class="tytul") Imię matki i ojca:
        span(class="wartosc")= data.parentsName
