extends layout

append extraHeader
    script
        | var VParam = {
        |        rootUrl: 'https://uonetplus.fakelog.cf/',
        |        clientSymbol: 'powiatwulkanowy',
        |        appVersion: '19.9.0.3497',
        |        permissions: 'eyJVbml0cyI6W3siSWQiOjYsIk5hendhIjoiUHVibGljem5hIHN6a2/FgmEgV3Vsa2Fub3dlZ28gbnIgMSB3IGZha2Vsb2cuY2YiLCJTa3JvdCI6IkZha2UxMjM0NTYiLCJTeW1ib2wiOiIxMjM0NTYifSx7IklkIjo3LCJOYXp3YSI6IlB1YmxpY3puYSBzemtvxYJhIFd1bGthbm93ZWdvIG5yIDIgdyBmYWtlbG9nLmNmIiwiU2tyb3QiOiJGYWtlMTIzNDU3IiwiU3ltYm9sIjoiMTIzNDU3In0seyJJZCI6OCwiTmF6d2EiOiJQdWJsaWN6bmEgc3prb8WCYSBXdWxrYW5vd2VnbyBuciAzIHcgZmFrZWxvZy5jZiIsIlNrcm90IjoiRmFrZTEyMzQ1OCIsIlN5bWJvbCI6IjEyMzQ1OCJ9XSwiQXV0aEluZm9zIjpbeyJKZWRub3N0a2FTcHJhd296ZGF3Y3phSWQiOjYsIkxvZ2luSWQiOjY1NDMyMSwiTG9naW5WYWx1ZSI6ImphbkBmYWtlbG9nLmNmIiwiVWN6ZW5JZHMiOlsxLDJdLCJPcGlla3VuSWRzIjpbXSwiUHJhY293bmlrSWRzIjpbXSwiUm9sZXMiOls3XSwiTGlua2VkQWNjb3VudFVpZHMiOltdfSx7IkplZG5vc3RrYVNwcmF3b3pkYXdjemFJZCI6NywiTG9naW5JZCI6NzU0MzIxLCJMb2dpblZhbHVlIjoiamFuQGZha2Vsb2cuY2YiLCJVY3plbklkcyI6WzEsMl0sIk9waWVrdW5JZHMiOltdLCJQcmFjb3duaWtJZHMiOltdLCJSb2xlcyI6WzddLCJMaW5rZWRBY2NvdW50VWlkcyI6W119LHsiSmVkbm9zdGthU3ByYXdvemRhd2N6YUlkIjo4LCJMb2dpbklkIjo4NTQzMjEsIkxvZ2luVmFsdWUiOiJqYW5AZmFrZWxvZy5jZiIsIlVjemVuSWRzIjpbMSwyXSwiT3BpZWt1bklkcyI6W10sIlByYWNvd25pa0lkcyI6W10sIlJvbGVzIjpbN10sIkxpbmtlZEFjY291bnRVaWRzIjpbXX1dfQ==|bqmc7UKWp4Xh17GpcwELUzpEICxn9su8VhGAlz5hrlg=',
        |  };

block content
    div.startScreen
        div.topBar
            div.logotype Wulkanowy
            div.panelTopBar
                span.userdata #{userInfo.UzytkownikNazwa} - #{userInfo.UzytkownikLogin} (
                    a(href=uonetplusOpiekun + "/powiatwulkanowy/LoginEndpoint.aspx?logout=true") wyloguj
                    | )
        div.holder
            div.widgetBar.pracownik.klient
                div.applicationInfo
                    div.applicationName Fake
                        span UONET+
                div.widget.date#date 1 stycznia 1970
                    br
                    | poniedziałek
                div.widget.time#time 12:37

            div.content#content
                div.panel.linkownia.pracownik.klient

                    // # old student

                    // many schools
                    #idAppUczen.subDiv
                        .appLink
                            a(href=uonetplusOpiekun + "/powiatwulkanowy/123456/Start/Index/")
                                span.header.directLink SZK1
                            br
                            a(href=uonetplusOpiekun + "/powiatwulkanowy/123457/Start/Index/")
                                span.header.directLink SZK2
                            br

                    // one school
                    .appLink
                        a(href=uonetplusOpiekun + "/powiatwulkanowy/123458/Start/Index/")
                            .imagedHeader.directLink
                                #idEmptyAppUczen
                                    .name Uczeń

                    // # new student

                    // many schools
                    #idAppUczenExt
                        .newAppLink
                            a(href=uonetplusUczen + "/powiatwulkanowy/123456/")
                                span.header.directLink SZK1
                            br
                            a(href=uonetplusUczen + "/powiatwulkanowy/123457/")
                                span.header.directLink SZK2
                            br

                    // one school
                    .newAppLink
                        .link
                            a(href=uonetplusUczen + "/powiatwulkanowy/123458/")
                                .directLink
                                    #idEmptyAppUczenExt
                                        .name Uczeń NOWOŚĆ

            .appLink
                a(href="/powiatwulkanowy/Start.mvc/Endpoints") Kafelki
