extends layout

block content
    div.startScreen
        div.topBar
            div.logotype Wulkanowy
            div.panelTopBar
                span.userdata #{userInfo.UzytkownikLogin} (
                    a(href=uonetplusOpiekun + "/Default/LoginEndpoint.aspx?logout=true") wyloguj
                    | )
        div.holder
            div.widgetBar.pracownik.klient
                div.applicationInfo
                    div.applicationName Fake
                        span UONET+
                div.widget.date#date 1 stycznia 1970
                    br
                    | poniedziałek
                div.widget.time#time 12:37

            div.content#content
                div.panel.linkownia.pracownik.klient

                    // # old student

                    // many schools
                    #idAppUczen.subDiv
                        .appLink
                            a(href=uonetplusOpiekun + "/Default/123456/Start/Index/")
                                span.header.directLink SZK1
                            br
                            a(href=uonetplusOpiekun + "/Default/123457/Start/Index/")
                                span.header.directLink SZK2
                            br

                    // one school
                    .appLink
                        a(href=uonetplusOpiekun + "/Default/123458/Start/Index/")
                            .imagedHeader.directLink
                                #idEmptyAppUczen
                                    .name Uczeń

                    // # new student

                    // many schools
                    #idAppUczenExt
                        .newAppLink
                            a(href=uonetplusUczen + "/Default/123456/")
                                span.header.directLink SZK1
                            br
                            a(href=uonetplusUczen + "/Default/123457/")
                                span.header.directLink SZK2
                            br

                    // one school
                    .newAppLink
                        .link
                            a(href=uonetplusUczen + "/Default/123458/")
                                .directLink
                                    #idEmptyAppUczenExt
                                        .name Uczeń NOWOŚĆ
