extends layout

block extraHeader
    meta(name="viewport" content="width=device-width, initial-scale=1")

block content
    div.container
        h1= title
        p Welcome to #{title}!
        ul
            li
                a(href=proto + "://api." + domain) api
            li
                a(href=proto + "://cufs." + domain) cufs
            li
                a(href=proto + "://uonetplus." + domain + "/Default/Start.mvc/Index") uonetplus
            li
                a(href=proto + "://uonetplus-uczen." + domain) uonetplus-uczen
            li
                a(href=proto + "://uonetplus-opiekun." + domain + "/Default/123456") uonetplus-opiekun
            li
                a(href=proto + "://uonetplus-uzytkownik." + domain) uonetplus-uzytkownik
