extends ../layout

append extraFooter
    script
        | Array.from(document.querySelectorAll("#uczenDropDownList, #dziennikDropDownList")).forEach(el => {
        |   el.addEventListener("change", (e) => {
        |     location = e.target.value;
        |   });
        | });

prepend content
    header(data-organization-name=dataOrganizationName data-application-name="Uczniowie Optivum NET+")

        a
            h1 Witryna ucznia i rodzica

        nav
            ul
            ul
                li admin
                li
                    a(href=opiekunRoot + "/LoginEndpoint.aspx?logout=true") Wyloguj
                li
                    a(href=uonetplusUrl + "/Default") Start

    nav#menuGlowne
        ul
            li
                a(href=opiekunRoot + "/Oceny.mvc/Wszystkie") Oceny
            li
                a(href=opiekunRoot + "/Frekwencja.mvc") Frekwencja
            li
                a(href=opiekunRoot + "/Egzaminy.mvc/EgzaminyZewnetrzne") Egzaminy zewnętrzne
            li
                a(href=opiekunRoot + "/UwagiOsiagniecia.mvc/Wszystkie") Uwagi i osiągnięcia
            li
                a(href=opiekunRoot + "/Statystyki.mvc/Uczen") Uczeń na tle klasy
            li
                a(href=opiekunRoot + "/Uczen.mvc/DanePodstawowe") Dane ucznia
        ul
            li
                a(href=opiekunRoot + "/Lekcja.mvc/PlanZajec") Plan zajęć
            li
                a(href=opiekunRoot + "/Lekcja.mvc/Zrealizowane") Lekcje zrealizowane
            li
                a(href=opiekunRoot + "/Sprawdziany.mvc/Terminarz") Sprawdziany
            li
                a(href=opiekunRoot + "/ZadaniaDomowe.mvc") Zadania domowe
            li
                a(href=opiekunRoot + "/Szkola.mvc/Nauczyciele") Szkoła i nauczyciele
    ul#idSection
        li
            label(for="uczenDropDownList") Uczeń:
            select#uczenDropDownList(name="uczenDropDownList")
                option(selected="selected", value=currentHost + opiekunRoot +"/Uczen/UczenOnChange?&id=420") Jurek Owczyk
                option(value=currentHost + opiekunRoot +"/Uczen/UczenOnChange?&id=400") Joanna Czerwińska
        li
            label(for="dziennikDropDownList") Dziennik:
            select#dziennikDropDownList(name="dziennikDropDownList")
                option(value=currentHost + opiekunRoot + "/Dziennik/DziennikOnChange?&id=303") III 2017
                option(value=currentHost + opiekunRoot + "/Dziennik/DziennikOnChange?&id=202") II 2016
                option(selected="selected", value=currentHost + opiekunRoot + "/Dziennik/DziennikOnChange?&id=101") I 2015
