extends layout

mixin nav
    .navigation
        a.button-prev(href="/Default/123456/Lekcja.mvc/PlanZajec?data=" + tics.prev) Poprzedni tydzień
        a.button-next(href="/Default/123456/Lekcja.mvc/PlanZajec?data=" + tics.next) Następny tydzień

append content
    main.mainContainer
        h1 Plan lekcji
        +nav
        div
            table.presentData
                thead
                    tr
                        th Lekcja
                        th Pora zajęć
                        each item in weekDays
                            th
                                | #{item[0]}
                                br
                                | #{item[1]}
                tbody
                    each item in data
                        tr
                            td= item.number
                            td= item.hourStart + " " + item.hourEnd
                            each day in item.days
                                td
                                    if day.isCanceled && !day.newLesson.isMoved
                                        div
                                            if day.group
                                                span.x-treelabel-inv= day.name + " " + day.group
                                                span.x-treelabel-inv
                                                span.x-treelabel-inv= day.teacher
                                                span.x-treelabel-inv= day.room
                                                span.x-treelabel-rlz= day.description
                                            else
                                                span.x-treelabel-inv= day.name
                                                span.x-treelabel-inv= day.teacher
                                                span.x-treelabel-inv= day.room
                                                span.x-treelabel-rlz= day.description
                                    else if day.isCanceled && day.newLesson.isMoved && !day.newLesson.description
                                        div
                                            if day.group
                                                span.x-treelabel-inv= day.name + " " + day.group
                                                span.x-treelabel-inv
                                                span.x-treelabel-inv= day.teacher
                                                span.x-treelabel-inv= day.room
                                                span.x-treelabel-zas= day.newLesson.name
                                                span.x-treelabel-zas
                                                span.x-treelabel-zas= day.newLesson.teacher
                                                span.x-treelabel-zas= day.newLesson.room
                                                span.x-treelabel-rlz= day.description
                                            else
                                                span.x-treelabel-inv= day.name
                                                span.x-treelabel-inv= day.teacher
                                                span.x-treelabel-inv= day.room
                                                span.x-treelabel-zas= day.newLesson.name
                                                span.x-treelabel-zas= day.newLesson.teacher
                                                span.x-treelabel-zas= day.newLesson.room
                                                span.x-treelabel-rlz= day.description
                                    else if day.isCanceled && day.newLesson.isMoved && day.newLesson.description
                                        if day.group
                                            div
                                                span.x-treelabel-inv= day.name + " " + day.group
                                                span.x-treelabel-inv
                                                span.x-treelabel-inv= day.teacher
                                                span.x-treelabel-inv= day.room
                                                span.x-treelabel-rlz= day.description
                                            div
                                                span.x-treelabel-zas= day.newLesson.name + " " + day.group
                                                span.x-treelabel-zas
                                                span.x-treelabel-zas= day.newLesson.teacher
                                                span.x-treelabel-zas= day.newLesson.room
                                                span.x-treelabel-rlz= day.newLesson.description
                                        else
                                            div
                                                span.x-treelabel-inv= day.name
                                                span.x-treelabel-inv= day.teacher
                                                span.x-treelabel-inv= day.room
                                                span.x-treelabel-rlz= day.description
                                            div
                                                span.x-treelabel-zas= day.newLesson.name
                                                span.x-treelabel-zas= day.newLesson.teacher
                                                span.x-treelabel-zas= day.newLesson.room
                                                span.x-treelabel-rlz= day.newLesson.description

                                    else
                                        div
                                            if !day.group
                                                span= day.name
                                                span= day.teacher
                                                span= day.room
                                            else
                                                span= day.name + " " + day.group
                                                span
                                                span= day.teacher
                                                span= day.room
        +nav

    .description
        div
            span.x-treelabel-ppl Kursywa
            | - planowane
        div
            span.x-treelabel-rlz Zwykła czcionka
            | - zrealizowane
        div
            span.x-treelabel-inv Przekreślone
            | - odwołane lub przeniesione
        div
            span.x-treelabel-zas Pogrubione
            | - nowe lekcje, przeniesione z innego terminu, zastępstwa
