extends layout

append content
    main.mainContainer
        h1 Plan lekcji
        div
            table.presentData
                thead
                    tr
                        th Lekcja
                        th Pora lekcji
                        each item in weekDays
                            th
                                | #{item[0]}
                                br
                                | #{item[1]}
                tbody
                    each item in data
                        tr
                            td= item.number
                            td= item.hourStart + " " + item.hourEnd
                            td
                                div
                                    span= item.days.dayOne.name
                            td
                                div
                                    span= item.days.dayTwo.name
                            td
                                div
                                    span= item.days.dayThree.name
                            td
                                div
                                    span= item.days.dayFour.name
                            td
                                div
                                    span= item.days.dayFive.name

    .description
        div
            span.x-treelabel-ppl Kursywa
            | - planowane
        div
            span.x-treelabel-rlz Zwyk&lstrok;a czcionka
            | - zrealizowane
        div
            span.x-treelabel-inv Przekreślone
            | - odwołane lub przeniesione
        div
            span.x-treelabel-zas Pogrubione
            | - nowe lekcje, przeniesione z innego terminu, zastępstwa
